<!DOCTYPE html>
<html>
<head>
	<title>New Dojo</title>
	<link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
	<form action='' method='post'>
		First name: <input type="text" name="txt_first_name">
		Last name: <input type="text" name="txt_last_name">
		Dojo name: <input type="text" name="txt_dojo_name">
		<input type="submit" name="btn_submit" value="Create New Dojo">
	</form>
</body>
</html>