<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cars</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<h1>Cars!</h1>
	<nav>
		<a class="button" href="/">Home</a>
		<a class="button" href="/cars">Cars</a>
		<a class="button" href="/cats">Cats</a>
		<a class="button" href="/cars/new">New Car</a>
	</nav>

	<p><img src="../images/ford_mustang.jpg" alt="Ford Mustang"></p>
	<label>Ford Mustang</label>
	<p><img src="../images/porsche_911.jpg" alt="Porsche 911"></p>
	<label>Porsche 911</label>
	<p><img src="../images/Ferrari_488.jpg" alt="Ferrari 488"></p>
	<label>Ferrari 488</label>
	<p><img src="../images/ford_pos.jpg" alt="Ford POS"></p>
	<label>Ford POS</label>
</body>
</html>