<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Cats!</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
	<h1>Cats!</h1>
	<nav>
		<a class="button" href="/">Home</a>
		<a class="button" href="/cars">Cars</a>
		<a class="button" href="/cats">Cats</a>
		<a class="button" href="/cars/new">New Car</a>
	</nav>

	<p><img src="../images/black_cat.jpg" alt="Black cat"></p>
	<label>Black cat</label>
	<p><img src="../images/sphynx_cat.jpg" alt="Sphynx cat"></p>
	<label>Sphynx cat</label>
	<p><img src="../images/siamese_cat.jpg" alt="Siamese"></p>
	<label>Siamese cat</label>
	<p><img src="../images/grumpy_cat.jpg" alt="Grumpy cat"></p>
	<label>Grumpy Cat</label>
</body>
</html>