<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <h1>This is the main page</h1>
        <a href="/costa_rica">Go to Costa Rica</a>
        <hr>
        <form action="/authenticate" method="POST">
            <label for="html_email">Email</label>
            <input type="text" name="html_email" value="">
            <br>
            <label for="html_password">Password</label>
            <input type="password" name="html_password" value="">
            <br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>