<!DOCTYPE html>
<html>
<head>
	<title>My Courses</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
	{% load staticfiles %}
	<link type="text/css" rel="stylesheet" href="{% static 'courses/style.css' %}">
</head>
<body>
	<h2>Add a New Course</h2>
	<form action="/add_new" method="post">
		{% csrf_token %}
		<label for="txt_name">Name:</label>
		<input type="text" name="txt_name">
		<br>
		<label for="txt_description">Description:</label>
		<textarea name="txt_description"></textarea>
		<br>
		<input type="submit" value="Add">
	</form>

	<h2>Courses</h2>
		{% if messages %}
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			</ul>
		{% endif %}
	<table>
		<tr>
			<th>Course Name</th><th>Description</th><th>Date Added</th><th>Actions</th>
		</tr>
		{% for course in all_courses %}
			<tr>
				<td>{{ course.name }}</td>
				<td>{{course.description}}</td>
				<td>{{course.created_at}}</td>
				<td><a href="/courses/{{course.id}}/destroy">Remove</a></td>
			</tr>
		{% endfor %}

	</table>
</body>
</html>