<!DOCTYPE html>
<html>
<head>
	<title>Dojo Survey Index</title>
	<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet"> 
	<link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<div id="container">
		<form id="survey_form" action="/result" method="post">
			Your Name: <input type="text" name="name" value="Chris Roche">
			<br>
			Dojo Location: 
			<select name="location">
				<option>San Jose</option>
				<option>Seattle</option>
				<option>Chicago</option>
				<option>Los Angeles</option>
			</select>
			<br>
			Favorite Language: 
			<select name="language">
				<option>Python</option>
				<option>JavaScript</option>
				<option>Ruby</option>
				<option>C#</option>
				<option>Perl</option>
				<option>Java</option>
			</select>
			<br>
			<span id="comment">Comment (optional):</span>
			<textarea form="survey_form" name="comments"></textarea>
			<br>
			<input type="submit" name="submit" value="Submit Survey">
		</form>
	</div>
</body>
</html>