{% include 'store/header.html' %}
<div id="container">
	<h1>Add a new product</h1>
	<form action="/create" method="post">
		{% csrf_token %}
		<label for="txt_name">Name</label><br>
		<input type="text" name="txt_name"><br>
		<label for="txt_description">Description</label><br>
		<input type="text" name="txt_description"><br>
		<label for="txt_price">Price</label><br>
		<input type="text" name="txt_price">
		<br><br>
		<input class="button" type="submit" value="Create">
	</form>
	<br><br>
	<a href="/">Go Back</a>


</div>




{% include 'store/footer.html' %}